*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html,
body {   
  scroll-behavior: smooth;  
  webkit-scroll-behavior: smooth;
  overflow-x: hidden;
}


.app {
    margin: 0 auto;
    width: 100%;
    line-height: 1.4;
    display: flex;
    position: relative;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

